/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  height: 100vh; /* Locks the height to the viewport */
  background-color: #121212; /* Set background color */
}

.App {
  text-align: center;
  color: white; /* White text color */
  padding-top: 50px; /* Add some space at the top */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to start */
}

.App-header {
  margin-bottom: 2rem; /* Space between the header and table */
}

.App-logo {
  height: 80px; /* Set a height for your logo */
  margin-bottom: 1rem; /* Space between the logo and title */
}

.App-title {
  font-size: 2.5rem;
  margin: 0;
}

/* crypto table styles */

.crypto-table-container {
  margin-top: 80px; /* Adjusted to account for navbar */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  background: #121212; /* Dark background for the table */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 2; /* Ensures the table is above the glow */
  box-shadow: 0 0 30px #fd5129, /* Red glow */ 0 0 60px #fd29d6; /* Pink glow */
  animation: glowingBorder 5s ease-in-out infinite alternate;
}

@keyframes glowingBorder {
  0%,
  100% {
    box-shadow: 0 0 20px #fd5129, /* Red glow */ 0 0 40px #fd29d6; /* Pink glow */
  }
  50% {
    box-shadow: 0 0 40px #fd5129, /* Red glow */ 0 0 80px #fd29d6; /* Pink glow */
  }
}

th,
td {
  text-align: left;
  padding: 8px;
  color: white; /* White text color for table */
  border-bottom: 1px solid #282828; /* Subtle border for rows */
}

tr:nth-child(even) {
  background-color: #1c1c1c; /* Slightly lighter row background for contrast */
}

thead {
  background-color: #121212; /* Dark background for headers */
}

.positive-change {
  color: #00ff00; /* Bright green for positive changes */
}

.negative-change {
  color: #ff0000; /* Bright red for negative changes */
}
