/* App.css */

.App {
  text-align: center;
  background-color: #121212; /* Dark background for the entire app */
  color: white; /* White text color */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 60px;
  background: #121212; /* Dark background for navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.crypto-table-container {
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  background: #121212; /* Dark background for the table */
  border-radius: 8px;
  overflow: hidden;
  animation: glowAnimation 2.5s ease-in-out infinite alternate;
  box-shadow: 0 0 10px #29fd53; /* Initial glow effect */
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 10px #29fd53, 0 0 20px #29fd53, 0 0 30px #29fd53,
      0 0 40px #29fd53;
  }
  100% {
    box-shadow: 0 0 20px #fd5129, 0 0 30px #fd5129, 0 0 40px #fd5129,
      0 0 50px #fd5129;
  }
}

th,
td {
  text-align: left;
  padding: 8px;
  color: white; /* White text color for table */
  border-bottom: 1px solid #282828; /* Subtle border for rows */
}

tr:nth-child(even) {
  background-color: #1c1c1c; /* Slightly lighter row background for contrast */
}

thead {
  background-color: #121212; /* Dark background for headers */
}

/* Remove unused styles or update as needed for your current application layout */
