/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  height: 100vh; /* Locks the height to the viewport */
}

.App {
  text-align: center;
  background-color: #121212; /* Dark background for the entire app */
  color: white; /* White text color */
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  background: #121212; /* Dark background for navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1002; /* Ensure navbar is above the modal */
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.crypto-table-container {
  margin-top: 80px; /* Adjusted to account for navbar */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  background: #121212; /* Dark background for the table */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 2; /* Ensures the table is above the glow */
  box-shadow: 0 0 15px #fd5129, /* Red glow */ 0 0 30px #fd29d6; /* Pink glow */
  animation: glowingBorder 5s ease-in-out infinite alternate;
}

@keyframes glowingBorder {
  0%,
  100% {
    box-shadow: 0 0 10px #fd5129, /* Red glow */ 0 0 20px #fd29d6; /* Pink glow */
  }
  50% {
    box-shadow: 0 0 20px #fd5129, /* Red glow */ 0 0 40px #fd29d6; /* Pink glow */
  }
}

th,
td {
  text-align: left;
  padding: 8px;
  color: white; /* White text color for table */
  border-bottom: 1px solid #282828; /* Subtle border for rows */
}

tr:nth-child(even) {
  background-color: #1c1c1c; /* Slightly lighter row background for contrast */
}

thead {
  background-color: #121212; /* Dark background for headers */
}

/* Modal styles */
.info-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  background-color: #9c27b0; /* Bright purple background */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 24px;
  color: #121212; /* Same as the background color */
}
